* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bold 14px 'poppins', sans-serif;
 }

 html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
 }
 
 #calculator {
    width: 325px;
    height: auto;
 
    margin: 100px auto;
    padding: 20px 20px 9px;
 
    background: #9dd2ea;
    
 }
 
 .top span.clear {
    float: left;
 }
 
 .top .screen {
    height: 40px;
    width: 212px;
    float: right;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);
    
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-align: right;
    letter-spacing: 1px;
 }
 
 .keys,
 .top {
    overflow: hidden;
 }
 
 .keys span,
 .top span.clear {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 66px;
    height: 36px;
    background: white;
    
   
 }
 
 .keys span.operator {
    background: #fff0f5;
    margin-right: 0;
 }
 
 .keys span.eval {
    background: white;
    
 }
 
 .top span.clear {
    background: white;
    color: black;
 }
 
 .keys span:hover {
    background: white;
    color: black;
 }
 
 .keys span.eval:hover {
    background: white;
    color: black;
 }
 
 .top span.clear:hover {
    background: white;
    color: black;
 }
 
 .keys span:active {
    top: 4px;
 }
 
 .keys span.eval:active {
    top: 4px;
 }
 
 .top span.clear:active {
    top: 4px;
 }
 